@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "utilidades/variables";
@import "utilidades/mixin";

/* estilos de header */

header {
    nav {
      @include nav;
    }
  }
  
  .logo-txt{
    @include logo;
  }
  
  .menu-link{
    @include menu-links;
  }
  
  .menu-link-active{
      @include menu-links;
      color: $accent-color;
      font-weight: 600;
  }


/* estilos de main */

  body {
    @include main;
  }
  
  body main {
    color: $txt-color;
    margin: 0;
    min-height: 100vh;
  }
  
  
  .title {
    @include title;
  }
  
  p {
    @include text;
  }

  .banner-img {
    height: 400px;
    width: 100%;
    margin-top: 0;
  }

  #search-input {
    @include searchbar;
  }

  .card-container {
    @include card-container;
  }
  
  .card {
    @include card;
  }
  
  .card-img {
    @include event-img;
  }
  
  .card-content {
    @include event-info;
  }
  
  .btn {
    @include btn-styles;
  }

  .btn-link {
    @include link-styles;
  }

  .faq-container {
    @include faq-container;
  }
  
  .faq-item {
    @include faq-item;
  }
  
  .faq-question {
    @include faq-question;
  }
  
  .faq-answer {
    @include faq-answer;
  }

  #redirect-contact {
    @include redirect-contact;
  }


/* estilo de formulario de contacto */

  .contact-form {
    @include contact-form;
  }

  label {
    @include label;
  }
  
  .form-input {
    @include input-field;
  }
  
  #msg-field {
    @include msg-field;
  }


/* estilos de footer */

footer {
  @include footer;
}
  

/* estilos de grid */

.grid-container{
  @include grid-layout;
}

.header{
  grid-area: header;
  grid-column: 1 / 13;
  grid-row: 1 / 2;
}

.main{
  grid-area: main;
  grid-column: 2 / 12;
  grid-row: 2 / 3;
}

.footer{
  grid-area: footer;
  grid-column: 1 / 13;
  grid-row: 3 / 4;
}


/* media queries */

@media (max-width: 950px) {
    .banner-img{
        height: 300px;
    }
    
    #search-input{
        width: 100%;
    }

    .card-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        column-gap: 24px;
        row-gap: 24px;
        margin: 24px 0;
        justify-content: center;
    }

}

@media (max-width: 491px) {

    .title{
        font-size: 24px;
    }
}