*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* estilos de header */

header nav ul li{
    display: inline-flex;
    margin: 0 16px;
    align-items: space-between;

}

header nav ul li a{
    text-decoration: none;
    color: #fafafa;
    font-size: 16px;
}

.active{
    color: #9DFF00;
    font-weight: bold;
}

/* estilos de main */

body{
    background-color: #151515;
    /* width: 100%; */
    /* margin: 0;
    padding: 0;    */
}

body main{
    /* text-align: left; */
    color: #fafafa;
    margin: 0;
    /* padding: 44px 0 0 0;    */
    min-height: 100vh;
}

.main{
    background-color: #151515;
}

.title{
    text-transform: uppercase;
    color: #fafafa;
    font-weight: 600;
    font-size: 32px;
    margin: 0;
}

p{
    color: #fafafa;
    font-size: 16px;
}

.banner-img{
    height: 400px;
    width: 100%;
    margin-top: 0;
}

#search-input{
    width: 50%;
    height: 44px;
    padding: 0 16px;
    margin: 16px 0;
    border-radius: 12px;
    outline: none;
    border: none;
    font-size: 14px;
    background-color: #fafafa;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(382px, 1fr));
    column-gap: 24px;
    row-gap: 24px;
    margin: 24px 0;
    justify-content: center;
}

.card{
    background-color: rgb(50, 50, 50);
    border-radius: 12px;
    padding: 24px;
    /* margin: 24px; */
    row-gap: 16px;
    box-shadow: 0 2px 4px rgba(172, 172, 172, 0.25);
}

.card-img{
    /* height: 300px; */
    width: 100%;
    border-radius: 12px;
}

.card-content h4{
    margin-bottom: 16px;
    color: #fafafa;
    font-weight: 100;
}

.event-info{
    margin: 16px 0;
}

.event-details{
    margin: 0;
}

.btn{
    width: 100%;
    height: 44px;
    background-color: #9DFF00;
    outline: none;
    border: none;
    border-radius: 12px;
    color: #151515;
    font-weight: bold;
    text-transform: uppercase;
}

.btn:hover{
    background-color: #bdf85e;
    color: #151515;
}

.btn-link{
    color: #9DFF00;
    font-size: 16px;
    font-weight: 600;
    margin-left: 8px;
    line-height: 16px;
}

.btn-link:hover{
    color: #bdf85e;
}

.faq-container{
    /* width: 95%; */
    background-color: #151515;
    /* padding: 16px 24px 0 24px; */
    border-radius: 16px;
}

.faq-item{
    background-color: rgb(50, 50, 50);
    padding: 16px 24px;
    margin: 16px 0;
    border-radius: 12px;
}

.faq-question{
    padding: 0;
    margin: 0;
}

.faq-question h4{
    margin: 0;
    padding: 0;
    font-weight: 600;
    color: #fafafa;
    font-size: 16px;
}

.faq-answer{
    padding: 4px 0;
    color: #fafafa;
}

#redirect-contact{
    display: flex;
    margin: 0;
    padding: 0;
}

#redirect-contact h5{
    /* padding-right: 8px; */
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
}


/* estilo de formulario de contacto */

fieldset{
    border: none;
    background-color: rgb(50, 50, 50);
    padding: 24px 32px;
    margin-top: 32px;
    border-radius: 24px;
}

.contact-container{
    display: flexbox;
    flex-direction: column;
    align-items: center;
}

label{
    display: block;
    width: 100%;
    padding: 0;
    font-size: 14px;
    font-weight: 600;
}

.form-input{
    width: 100%;
    height: 44px;
    padding: 0 16px;
    margin: 8px 0px 16px 0;
    border-radius: 12px;
    outline: none;
    border: none;
    box-sizing: border-box;
    font-size: 14px;
}

#msg-field{
    padding-top: 16px;
    height: 120px;
}


/* estilos de footer */

footer{
    text-align: center;
    color: #fafafa;
    font-size: 14px;
    background-color: black;
    width: 100%;
    position: static;
    bottom: 0;  
    padding: 4px;
}

/* estilos de grid */

.grid-container{
    background-color: #151515;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 24px;
    row-gap: 32px;
    grid-template-rows: repeat(3 auto);
    grid-template-areas:
        "header"
        "main"
        "footer";
}

.header{
    grid-area: header;
    grid-column: 1 / 13;
    grid-row: 1 / 1;
}

.main{
    grid-area: main;
    grid-column: 2 / 12;
    grid-row: 2 / 2;
}

.footer{
    grid-area: footer;
    grid-column: 1 / 13;
    grid-row: 3 / 3;
}


/* estilos bootstrap */

.bg-nav{
    background-color: #151515;
    box-shadow: 0 2px 4px 0 rgba(172, 172, 172, 0.25);
}

.logo-txt{
    color: #fafafa;
    font-size: 24px;
    font-weight: bold;
}

.logo-txt:hover{
    color: #bdf85e;
}

.menu-link{
    color: #fafafa;
    text-transform: uppercase;
}

.menu-link:hover{
    color: #bdf85e;
    font-weight: 800;
}

.menu-link-active{
    color: #9DFF00;
    font-weight: 800;
    text-transform: uppercase;
}

.menu-link-active:hover{
    color: #9DFF00;
    font-weight: 800;  
}





